<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-form>
                    <v-row>
                        <v-col>
                            <v-file-input v-model="filepath" truncate-length="15" accept=".ics" label="File input *.ics"></v-file-input>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field v-model="search" label="Search"></v-text-field>
                        </v-col>
                        <v-col>
                            <v-menu ref="menu1" v-model="menu1" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="startDate"
                                        label="Start date"
                                        hint="YYYY-MM-DD format"
                                        persistent-hint
                                        prepend-icon="mdi-calendar"
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="startDate" no-title @input="menu1 = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col>
                            <v-menu ref="menu2" v-model="menu2" :close-on-content-click="true" transition="scale-transition" offset-y max-width="290px" min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="endDate"
                                        label="End date"
                                        hint="YYYY-MM-DD format"
                                        persistent-hint
                                        prepend-icon="mdi-calendar"
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="endDate" no-title @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-btn block @click="parseCalendar"> Parse </v-btn>
                        </v-col>
                        <v-col>
                            <v-btn block @click="eventlist = []"> Clear event list </v-btn>
                        </v-col>
                        <v-col>
                            <v-btn block @click="exportEvents"> Copy visible events to clipboard </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-data-table
                    dense
                    @current-items="getFiltered"
                    :headers="eventheaders"
                    :items="eventlistfiltered"
                    :search="search"
                    :footer-props="{ 'items-per-page-options': [15, 30, 50, 100, -1] }"
                >
                    <template v-slot:[`item.dtstart`]="{ item }"> {{ datetimeformat.format(item.dtstart) }} </template>
                    <template v-slot:[`item.dtend`]="{ item }"> {{ datetimeformat.format(item.dtend) }} </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import ICAL from "ical.js";

export default {
    name: "CalendarTable",
    data: () => {
        return {
            filepath: null,
            search: null,
            startDate: new Date().toISOString().substr(0, 10),
            endDate: new Date().toISOString().substr(0, 10),
            menu1: false,
            menu2: false,
            eventheaders: [
                { text: "Summary", value: "summary" },
                { text: "Start date", value: "dtstart" },
                { text: "End date", value: "dtend" },
                { text: "Duration (hours)", value: "duration" },
                { text: "Description", value: "description" },
            ],
            eventlist: [],
            eventlistvisible: [],
            datetimeformat: new Intl.DateTimeFormat([], { dateStyle: "short", timeStyle: "medium" }),
        };
    },
    computed: {
        eventlistfiltered: function() {
            let startDate = new Date(this.startDate);
            let endDate = new Date(this.endDate);
            return this.eventlist.filter((ev) => {
                return startDate - ev.dtstart <= 0 && endDate - ev.dtstart >= 0;
            });
        },
    },
    methods: {
        parseCalendar: function() {
            let vm = this;
            vm.eventlist = [];
            let intlnf = new Intl.NumberFormat(navigator.language, { minimumFractionDigits: 2 });

            this.filepath.text().then((calendar) => {
                let jcalData = ICAL.parse(calendar);

                let vcalendar = new ICAL.Component(jcalData);
                let vevent = vcalendar.getAllSubcomponents("vevent");
                vevent.forEach((ev) => {
                    let item = {
                        summary: ev.getFirstPropertyValue("summary"),
                        dtstart: ev.getFirstPropertyValue("dtstart").toJSDate(),
                        dtend: ev.getFirstPropertyValue("dtend").toJSDate(),
                        duration: null,
                        description: ev.getFirstPropertyValue("description") ?? "",
                    };
                    item.duration = (item.dtend - item.dtstart) / 36e5;
                    item.duration = intlnf.format(item.duration);

                    vm.eventlist.push(item);
                });
                vm.eventlist.sort((a, b) => {
                    return a.dtstart - b.dtstart;
                });
            });
        },
        exportEvents: function() {
            let vm = this;
            let text = "Summary\t Start date\t End date\t Duration (hours)\t Description\r\n";
            this.eventlistvisible.forEach((ev) => {
                text = text.concat(
                    `${ev.summary}\t${vm.datetimeformat.format(ev.dtstart)}\t${vm.datetimeformat.format(ev.dtend)}\t${ev.duration}\t${ev.description.replace(/\n/g, " ")}\r\n`
                );
            });
            console.log(text)
            navigator.clipboard.writeText(text);
        },
        getFiltered: function(items) {
            this.eventlistvisible = items;
        },
    },
};
</script>
