<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <v-toolbar-title> Calendar TimeSheet </v-toolbar-title>

            <v-spacer></v-spacer>
        </v-app-bar>

        <v-main>
            <CalendarTable></CalendarTable>
        </v-main>
    </v-app>
</template>

<script>
import CalendarTable from "./components/CalendarTable";

export default {
    name: "App",

    components: {
        CalendarTable,
    },

    data: () => ({
        //
    }),
};
</script>
